doctype html
html(lang='fr')
    head
        title Servicio Terminales Portuarias
    body
        h1 Comprobante de coordinación
        p Administración General de Puertos
        p Fecha: #{inicio}
        p Contenedor: #{contenedor}
