doctype html
html(lang='fr')
	head
		title Servicio Terminales
	body(style="font-family:arial")
		p(style="font-size:24px")
			b Servicio Terminales Portuarias
		p(style="font-size:18px")
			b Administración General de Puertos
		p Usted a ha sido aprobado para ingresar a la página de Control de Información de Terminales Portuarias.
		p
			b Nombre y Apellido:
			span #{full_name}
		p
			b Usuario:
			span #{user}
		p
			b Clave:
			span #{password}
		br
		p
			span(style="color:GREEN; text-size:18px") Usuario Aprobado
		br
		p Puede acceder directamente desde el siguiente link&nbsp;
			a(href="http://terminales.puertobuenosaires.gob.ar") http://terminales.puertobuenosaires.gob.ar
