doctype html
html(lang='fr')
	head
		title Control Terminales
	body(style="font-family:arial")
		p(style="font-size:24px")
			b Control Terminales Portuarias
		p(style="font-size:18px")
			b Administración General de Puertos
		p Ha sido dada de alta una nueva Tarifa/Servicio.
		p
			b Terminal:
			span &nbsp;#{terminal}
		p
			b Código:
			span &nbsp;#{code}
		p
			b Descripción:
			span &nbsp;#{description}
		p
			b Valor:
			span &nbsp;#{price}
