doctype html
html(lang='fr')
	head
		title Servicio Terminales
	body(style="font-family:arial")
		p(style="font-size:24px")
			b Servicio Terminales Portuarias
		p(style="font-size:18px")
			b Administración General de Puertos
		p Ha sido dada de alta una nueva Tarifa y/o Servicio.
		p
			b Terminal:
			span #{terminal}
		p
			b Código:
			span #{code}
		p
			b Descripción:
			span #{description}
		p
			b Valor:
			span #{price}
