doctype html
html(lang='fr')
	head
		title Servicio Terminales
	body(style="font-family:arial")
		p(style="font-size:24px")
			b Servicio Terminales Portuarias
		p(style="font-size:18px")
			b Administración General de Puertos
		p Ud. a solicitado un usuario para ingresar a la página de Control de Información de Terminales Portuarias.
		p
			b Nombre y Apellido:
			span #{full_name}
		p
			b Usuario:
			span #{user}
		p
			b Clave:
			span #{password}
		p Para proceder a la aprobación de la cuenta haga click &nbsp;
			a(href="http://terminales.puertobuenosaires.gob.ar:8080/agp/token?salt=#{salt}") aquí
		br
		p
			span(style="color:red") Importante:
			span &nbsp;La cuenta solo podrá se utilizada luego de ser aprobada por el Administrador del sistema. Usted recibirá un correo electrónico una vez aprobada la misma.