doctype html
html(lang='fr')
	head
		title Servicio Terminales
	body(style="font-family:arial")
		p(style="font-size:24px")
			b Servicio Terminales Portuarias
		p(style="font-size:18px")
			b Administración General de Puertos
		p El usuario ha sido configurado correctamente.
		p En breve será gestionada su aprobación por el administrador del sistema.
		p
			b Nombre y Apellido:
			span #{full_name}
		p
			b Usuario:
			span #{user}
		p
			b Clave:
			span #{password}
		br
		p Ud. recibira un correo electrónico con dicha confimación.
		p
			span(style="color:RED; text-size:18px") Usuario aguardando aprobación.
