doctype html
html(lang='fr')
    head
        title Servicio Terminales
    body(style="font-family: 'Open Sans',sans-serif; font-size: 12px, background-color:white")
        table
            tr
                td
                    img(src="http://terminales.puertobuenosaires.gob.ar/images/logo.png")
                td
                    h1(style="font-family: inherit; font-weight: 400; font-size: 30px; line-height: 1.1; color: #0099d7;") &nbsp;Servicio Terminales Portuarias
        p El usuario ha sido configurado correctamente.
        p En breve será gestionada su aprobación por el administrador del sistema.
        p
            b Nombre y Apellido:&nbsp
            span #{full_name}
        p
            b Usuario:&nbsp
            span #{user}
        p
            b Clave:&nbsp
            span #{password}
        br
        p Ud. recibira un correo electrónico con dicha confimación.
        p
            span(style="color:RED; text-size:18px") Usuario aguardando aprobación.
